h1{
    text-align: center;
    font-family: "Knewave", system-ui;
    background-color: rgb(195, 195, 195);
    border-radius: 5px;
    margin-left: 600px;
    margin-right: 600px;
}

.LoginCriarConta{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body{
    background-color: whitesmoke;
}

#botaoSair{
    width: 50px;
    position: absolute;
    transition:  transform 0.5s ease;
    background-color: rgba(119, 119, 119, 0.163);
    padding: 8px;
    border-radius: 5px;
}
#botaoSair:hover{
    background-color: wheat;
    border-radius: 10px;
    padding: 10px;
    transform: translateY(-5px);
}