html{
    height: 100vh;
}

body{
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/9877673-pixel-art-sky-background-with-clouds-cloudy-blue-sky-vector-for-8bit-game-on-white-background-vetor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1{
    text-align: center;
    font-size: 60px;
    color: whitesmoke;
    text-shadow: 4px 3px 3px black;
    font-family: "Syne Mono", monospace;
}
h1::selection{
    color: rgb(211, 248, 255);
    background-color: rgb(143, 143, 255);
}

p{
    color: whitesmoke;
    background-color: rgb(255, 46, 46);
    padding: 30px;
    font-size: 25px;
    border: solid 1px black;
    border-radius: 50px;
    font-family: "Knewave", system-ui;
}

.metas{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#botaoSair{
    width: 50px;
    position: absolute;
    transition:  transform 0.5s ease;
}
#botaoSair:hover{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    transform: translateY(-5px);
}