body{
    background-color: rgb(174, 174, 255);
}

#salvar{
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 30px;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  transition: transform 0.5s ease;
  margin-top: 30px;
  width: 200px;
  font-size: 20px;
}
#salvar:hover{
    transform: translateY(-10px);
    background-color: gold;
}
#salvar:active{
    box-shadow: 5px 5px 5px white;
    background-color: yellow;
}

#escolhaCorRosto{
  font-family: "Audiowide", sans-serif;
  font-size: 30px;
  font-style: normal;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(223, 235, 247);
}

h1{
  font-family: "Audiowide", sans-serif;
  font-size: 50px;
  font-style: normal;
  text-align: center;
  color: whitesmoke;
  text-shadow: 5px 4px 4px black;
  background-color: rgb(163, 163, 251);
  margin-left: 200px;
  margin-right: 200px;
  padding: 10px;
  border-radius: 5px;
}

#canvas{
    display: block;
    margin: 0 auto;
}
article{
    background-color: aliceblue;
    border: solid 1px black;
    margin-left: 300px;
    margin-right: 300px;
    height: 250px;
}

#botaoSair{
    width: 50px;
    position: absolute;
    transition:  transform 0.5s ease;
}
#botaoSair:hover{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    transform: translateY(-5px);
}