  body {
        background: #f5f5f5;
        text-shadow: 2px 2px 2px black;
        font-family: Arial;
        text-align: center;
     }
     h1{
        background-color:  #444;
        margin-left: 600px;
        margin-right: 600px;
        padding: 2px;
        color: white;
        border-radius: 3px;
     }
     table {
        margin: auto;
        width: 60%;
        border-collapse: collapse;
        background: #222;
        border-radius: 10px;
        overflow: hidden;
    }
    th, td {
        padding: 15px;
        border-bottom: 1px solid #444;
   }
    th {
        background: #333;
        color: gold;
    }
    td{
        color: rgb(232, 232, 255);
    }

    #botaoSair{
        width: 50px;
        position: absolute;
        transition:  transform 0.5s ease;
        background-color: rgba(119, 119, 119, 0.163);
        padding: 8px;
        border-radius: 5px;
        left: 10px;
        top: 10px;
}
#botaoSair:hover{
    background-color: wheat;
    border-radius: 10px;
    padding: 10px;
    transform: translateY(-5px);
}